@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary-red-color: #e11818;
  --primary-white-color: #ffff;
  --primary-black-color: #323232;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
